body {
    background-color: #f5f7f9;
}
.header {
    background: radial-gradient(934px at 6% 39.5%, #ffffff 0.2%, rgb(255 255 255) 54.8%, rgb(255 255 255) 93.4%);
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    grid-area: top-bar;
}
.main-content {
    max-width: 450px;
    background-color: white;
    text-align: center;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}
.main-content h2 {
    margin-bottom: 20px;
}
.btn-custom {
    color: white;
    border: none;
    width: 100%;
    margin-bottom: 10px;
    background: #9903d6;
    font-weight: 600;
    border-radius: 1rem;
    padding: .75rem 3rem;
    letter-spacing: .3px;
    line-height: 1.15;
}
.btn-custom:hover{
    color: white !important;
    background-color: #9903d6 !important;
    transform: scale(1.02) !important;
}

.footer {
    background-color: #ffffff;
    border-top: solid 1px #9903d6;
    color: #000;
    text-align: center;
    width: 100%;
    bottom: 0;
    grid-area: footer;
    border-bottom: solid 3px #9903d6;
    padding: 2rem 0.5rem;
    position: relative;
    margin-top: 50px;
}
.char {
    border-top: solid 1px #9903d6;
    background-color: #9903d6;
    padding: 2px !important;
}

